# Configuration Apache pour retourner le code 503
# Utilisez ce fichier si votre serveur utilise Apache

RewriteEngine On
RewriteBase /

# Retourne un code 503 Service Unavailable
RewriteCond %{REQUEST_URI} !^/503.html$
RewriteRule .* - [R=503,L]

# Header Retry-After suggérant de réessayer dans 1 heure (3600 secondes)
Header always set Retry-After "3600"

ErrorDocument 503 /index.html
